
.metadata/*
*.prefs
*.project
*.classpath
*.lst
*.properties
dimensions/target/dimensions-3.0.1.jar
*.ini
*.xml
dimensions/.metadata/.plugins/org.eclipse.ui.intro/introstate
*.setup
*.log
*.dat
dimensions/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
dimensions/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
dimensions/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
dimensions/.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
dimensions/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
dimensions/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
dimensions/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
dimensions/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
dimensions/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
dimensions/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
dimensions/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
dimensions/.metadata/.lock
/.metadata/
*.gitignore
*.jar
*.class
test/*
dimensionsDemo/*
